<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>URL shortener microservice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>
<body>
    <div class = 'container'>
        <h2>API: URL Shortener Microservice</h2>
        <h3></h3>

    <h4>Example Usage:</h4>
        <code></code>
    
    <h4>Example Output:</h4>
        <code></code>

    </div>
    <div class="footer">
        <p style="text-align:left;">Created by Courtney Landau
            <span style="float:right;">2018</span>
            </p>
    </div>
</body>
</html>