<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>URL shortener microservice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
</head>

<body>
    <div class = 'container'>
        <h2>API: URL Shortener Microservice</h2>

    <h4>Create a shortened URL, either by submitting the URL in the form below or by visiting the API endpoint at: </h4><code>GET https://damp-citadel-44118.herokuapp.com/api/shorturl/new/</code>
    <p>
    Example: <br><code>https://damp-citadel-44118.herokuapp.com/api/shorturl/new/https://www.google.com</code><br>
    Response: <br><code>{"original_url":"www.google.com","short_url":"1111"}</code>
</p>
    Example: <br><code>POST https://damp-citadel-44118.herokuapp.com/api/shorturl/new - https://www.google.com</code>
    <p>
    <div id='form-div'> 
    <form id='url-form' method="POST" action ='/api/shorturl/new'>
        <label for='url-form'>Enter URL here: </label>
        <input type="text" name='url' placeholder="https://longurlmaker.com/"/>
        <button type='submit'>POST URL</button>
    </form></p>
    </div>
<div>
    <h4>Example Usage:</h4>
    By visiting the output short URL:
    <code>https://damp-citadel-44118.herokuapp.com/api/shorturl/8115</code> 

    <p>You will be redirected to:
    <code>http://www.freecodecamp.com</code>
</p>
</div>
    <div class="footer">
        <p style="text-align:left;">Created by Courtney Landau
            <span style="float:right;">2018</span>
            </p>
    </div>
</body>
</html>